
.name{
  padding-top: 2680pt;
  font-size: 250pt;
  text-align: center;
  font-weight: normal;
  font-style:italic;
}

.cert-name{
  padding-top: 280pt;
  font-size: 200pt;
  text-align: center;
  font-weight: bold;
}

.date{
  position: absolute;
  top: 230mm;
  right: 100mm;
  font-size: 52mm;
}

.date p{
  margin: 0;
  padding: 0;
}

.text-right{
  text-align: right;
}

.cert_sign{
  position: absolute;
  top: 1770mm;
  left: 450mm;
}

.c-right{
  left: 1200mm !important;
}

.cert_sign-right{
  position: absolute;
  top: 1770mm;
  right: 950mm;
}

.cert_sign-img{
  width: 500mm;
}
